version: "3.8"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: abin-saa
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: piscineds
    ports:
      - "5432:5432"

